Top10_n8n_Workflows/top10/03_Executive_Daily_Briefing.json
{
  "name": "Executive Daily Briefing (Cron → Pull Data → LLM → Slack)",
  "nodes": [
    {
      "parameters": {
        "rule": "custom",
        "cronExpression": "0 7 * * *"
      },
      "id": "node-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "render",
        "text": "# Briefing Setup\n\nAdd HTTP nodes to pull KPIs/news, then summarize and send to Slack."
      },
      "id": "node-md-briefing-setup",
      "name": "Docs: Briefing Setup",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        450,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/kpis",
        "options": {
          "useQueryString": true
        },
        "sendBinaryData": false,
        "ignoreResponseCode": true,
        "responseFormat": "json",
        "authentication": "none",
        "method": "GET",
        "jsonParameters": true
      },
      "id": "node-http-pull-kpis",
      "name": "Pull KPIs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/news?topic=company",
        "options": {
          "useQueryString": true
        },
        "sendBinaryData": false,
        "ignoreResponseCode": true,
        "responseFormat": "json",
        "authentication": "none",
        "method": "GET",
        "jsonParameters": true
      },
      "id": "node-http-pull-news",
      "name": "Pull News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "systemMessage": "Summarize KPIs + news with risks/opportunities and next actions.",
        "messages": [
          {
            "role": "user",
            "content": "={{$json}}"
          }
        ],
        "responseType": "json"
      },
      "id": "node-openai-openai---chat",
      "name": "OpenAI - Chat",
      "type": "n8n-nodes-langchain.openai",
      "typeVersion": 2,
      "position": [
        950,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "{{ $env.SLACK_CHANNEL_ID || 'C123456' }}",
        "text": "={{$json.summary || $json.message || 'Hello from n8n'}}"
      },
      "id": "node-slack-send-briefing",
      "name": "Send Briefing",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Docs: Briefing Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Briefing Setup": {
      "main": [
        [
          {
            "node": "Pull KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull KPIs": {
      "main": [
        [
          {
            "node": "Pull News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull News": {
      "main": [
        [
          {
            "node": "OpenAI - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Chat": {
      "main": [
        [
          {
            "node": "Send Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "regular"
  },
  "staticData": {},
  "version": 2,
  "meta": {
    "created": "2025-10-03T14:44:37.601714Z",
    "author": "Mehdi Belbachir – SMB Pack (Generated)"
  }
}