Top10_n8n_Workflows/top10/04_AP_Invoice_OCR_Approval.json
{
  "name": "AP: Invoice OCR → Slack Approval → ERP",
  "nodes": [
    {
      "parameters": {
        "format": "simple",
        "downloadAttachments": false,
        "mailbox": "INBOX"
      },
      "id": "node-email-imap",
      "name": "Email IMAP",
      "type": "n8n-nodes-base.emailImap",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "render",
        "text": "# Invoice Setup\n\nConnect IMAP to your AP inbox. Add OCR (HTTP) to extract fields, then Slack approval, then ERP HTTP POST."
      },
      "id": "node-md-invoice-setup",
      "name": "Docs: Invoice Setup",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        450,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://ocr.example.com/extract",
        "options": {
          "useQueryString": true
        },
        "sendBinaryData": false,
        "ignoreResponseCode": true,
        "responseFormat": "json",
        "authentication": "none",
        "method": "POST",
        "jsonParameters": true
      },
      "id": "node-http-ocr-extract",
      "name": "OCR Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "postAndWait",
        "channel": "{{ $env.SLACK_APPROVAL_CHANNEL_ID || 'C123456' }}",
        "text": "={{$json.draft || 'Approve?' }}",
        "additionalFields": {
          "approvalText": "Approve",
          "disapprovalText": "Reject",
          "includeDisapprovalButton": true,
          "timeout": 3600
        }
      },
      "id": "node-slack-approve-ap-approval",
      "name": "AP Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://erp.example.com/bills",
        "options": {
          "useQueryString": true
        },
        "sendBinaryData": false,
        "ignoreResponseCode": true,
        "responseFormat": "json",
        "authentication": "none",
        "method": "POST",
        "jsonParameters": true
      },
      "id": "node-http-erp-create-bill",
      "name": "ERP Create Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.FROM_EMAIL || 'no-reply@example.com' }}",
        "toEmail": "={{$env.TO_EMAIL || 'ops@example.com'}}",
        "subject": "={{$json.subject || 'Automation update'}}",
        "text": "={{$json.body || 'See details attached'}}"
      },
      "id": "node-email-send-notify-vendor",
      "name": "Notify Vendor",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [
        1700,
        200
      ]
    }
  ],
  "connections": {
    "Email IMAP": {
      "main": [
        [
          {
            "node": "Docs: Invoice Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Invoice Setup": {
      "main": [
        [
          {
            "node": "OCR Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Extract": {
      "main": [
        [
          {
            "node": "AP Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AP Approval": {
      "main": [
        [
          {
            "node": "ERP Create Bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP Create Bill": {
      "main": [
        [
          {
            "node": "Notify Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "regular"
  },
  "staticData": {},
  "version": 2,
  "meta": {
    "created": "2025-10-03T14:44:37.601872Z",
    "author": "Mehdi Belbachir – SMB Pack (Generated)"
  }
}