Top10_n8n_Workflows/top10/09_Onboarding_Orchestrator.json
{
  "name": "Onboarding Orchestrator (Webhook → LLM → Accounts → Slack/Email)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-hire",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "systemMessage": "Generate onboarding checklist and welcome message from new-hire JSON",
        "messages": [
          {
            "role": "user",
            "content": "={{$json}}"
          }
        ],
        "responseType": "json"
      },
      "id": "node-openai-openai---chat",
      "name": "OpenAI - Chat",
      "type": "n8n-nodes-langchain.openai",
      "typeVersion": 2,
      "position": [
        950,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://directory.example.com/users",
        "options": {
          "useQueryString": true
        },
        "sendBinaryData": false,
        "ignoreResponseCode": true,
        "responseFormat": "json",
        "authentication": "none",
        "method": "POST",
        "jsonParameters": true
      },
      "id": "node-http-create-accounts",
      "name": "Create Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "{{ $env.SLACK_CHANNEL_ID || 'C123456' }}",
        "text": "={{$json.summary || $json.message || 'Hello from n8n'}}"
      },
      "id": "node-slack-welcome-message",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.FROM_EMAIL || 'no-reply@example.com' }}",
        "toEmail": "={{$env.TO_EMAIL || 'ops@example.com'}}",
        "subject": "={{$json.subject || 'Automation update'}}",
        "text": "={{$json.body || 'See details attached'}}"
      },
      "id": "node-email-send-manager-checklist",
      "name": "Manager Checklist",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "id": "node-respond-respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1950,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Chat": {
      "main": [
        [
          {
            "node": "Create Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Accounts": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Message": {
      "main": [
        [
          {
            "node": "Manager Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Checklist": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "regular"
  },
  "staticData": {},
  "version": 2,
  "meta": {
    "created": "2025-10-03T14:44:37.602681Z",
    "author": "Mehdi Belbachir – SMB Pack (Generated)"
  }
}