SMB_Starter_Pack_12/smb_starter_pack/07_Review_Responder.json
{
  "name": "Review Responder (Webhook → LLM → Slack HITL → Post)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "systemMessage": "Classify sentiment and draft a professional reply using provided review JSON",
        "messages": [
          {
            "role": "user",
            "content": "={{$json}}"
          }
        ],
        "responseType": "json"
      },
      "id": "node-openai-openai---chat",
      "name": "OpenAI - Chat",
      "type": "n8n-nodes-langchain.openai",
      "typeVersion": 2,
      "position": [
        950,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "postAndWait",
        "channel": "{{ $env.SLACK_APPROVAL_CHANNEL_ID || 'C123456' }}",
        "text": "={{$json.draft || 'Approve?' }}",
        "additionalFields": {
          "approvalText": "Approve",
          "disapprovalText": "Reject",
          "includeDisapprovalButton": true,
          "timeout": 3600
        }
      },
      "id": "node-slack-approve-approve-reply",
      "name": "Approve Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://reviews.example.com/reply",
        "options": {
          "useQueryString": true
        },
        "sendBinaryData": false,
        "ignoreResponseCode": true,
        "responseFormat": "json",
        "authentication": "none",
        "method": "POST",
        "jsonParameters": true
      },
      "id": "node-http-post-reply",
      "name": "Post Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "id": "node-respond-respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1950,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Chat": {
      "main": [
        [
          {
            "node": "Approve Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Reply": {
      "main": [
        [
          {
            "node": "Post Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "regular"
  },
  "staticData": {},
  "version": 2,
  "meta": {
    "created": "2025-10-03T14:44:37.602400Z",
    "author": "Mehdi Belbachir – SMB Pack (Generated)"
  }
}